{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "dynamicImport": true,
      "decorators": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "target": "esnext"
  },
  "module": {
    "type": "commonjs"
  },
  "minify": false
}

// por si necesitas utilizar TypeOrm, decoradores, etc.
// {
//   "$schema": "https://json.schemastore.org/swcrc",
//   "jsc": {
//     "parser": {
//       "syntax": "typescript",
//       "tsx": false,
//       "dynamicImport": true,
//       "decorators": false
//     },
//     "transform": {
//       "decoratorMetadata": true
//     },
//     "target": "es2022",
//     "loose": false,
//     "externalHelpers": false,
//     "keepClassNames": false
//   },
//   "module": {
//     "type": "commonjs",
//     "strict": false,
//     "strictMode": false,
//     "noInterop": false,
//     "lazy": false
//   },
//   "minify": true
// }
